<%= form_tag(dashboard_show_path, id: 'new_user', class: "new_user") do %>
    <div class="form-group">
      <label for="user_email">User Name</label>
      <%= text_field_tag 'user_name',  nil, class: "form-control"%>
    </div>
    <input class="btn btn-primary" name="commit" type="submit" value="Submit">
<% end %>


