<%= form_tag(dashboard_show_path(format: :pdf), id: 'new_user', class: "new_user") do %>
    <fieldset>
      <div class="form-group">
        <%= hidden_field_tag 'user_name', params["user_name"], class: "form-control" %>
      </div>
      <%= submit_tag "Print PDF", class: "btn btn-danger pull-right", style: "margin-bottom: 10px" %>
    </fieldset>
<% end %>
<%= render :partial => "show" %>